#cart-icon {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background: var(--first-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.0rem;
    cursor: pointer;
    z-index: 100;
    margin-bottom: 60px;
    margin-right: 18px;
}

#cart-count {
    position: absolute;
    top: -6px;
    right: -1px;
    background: white;
    color: var(--first-color);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
    font-weight: bold;
}

.cart__modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.cart__content {
    background: var(--admin-card);
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 500px;
    background-color: rgba(250, 250, 250, 0.637);
}

.cart__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--admin-border);
    padding-bottom: 0.5rem;
}

.close-cart {
    background-color: red;
    color: aliceblue;
    border-radius: 20px;
    width: 600px;
    font-size: larger;
    cursor: pointer;
}


.h3 {
    margin-bottom: 5px;
    margin-top: 5px;
}
/*=============== mobile ===============*/

@media screen and (max-width: 360px),
(max-width: 375px ),
(max-width: 414px ),
(max-width: 430px ),
(max-width: 768px ),
(max-width: 820px ),
(max-width: 1024px ) {
  #cart-icon {
    width: 40px; 
    height: 40px; 
    font-size: 20px;
    padding: 0;
    margin-right: -9px;
  }
 .cart__content {
    font-size: 80%;
 }

}
