/*=============== FILTERS ===============*/
.projects__filters {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.search__box {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search__box input {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: .5rem;
    background-color: var(--container-color);
    color: var(--title-color);
    border: 2px solid transparent;
    transition: .3s;
    margin-top: 30px;
    background-color: #dbf8e5;
}

.search__box input:focus {
    border-color: var(--first-color);
    outline: none;
}

.search__box i {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: var(--first-color);
}

.filter__buttons {
    display: flex;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: .75rem;
}

.filter__btn {
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: var(--container-color);
    color: var(--title-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    transition: .3s;
}

.filter__btn.active {
    background-color: var(--first-color);
    color: var(--white-color);
}