.whatsapp-float { 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    background-color: #25d366; 
    color: #FFF; 
    border-radius: 50px; 
    text-align: center; 
    font-size: 30px; 
    box-shadow: 2px 2px 3px #999; 
    z-index: 1000; 
    width: 60px; 
    height: 60px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: .3s; 
    margin-bottom: 70px;
    margin-right: 18px;
} 
.whatsapp-float:hover { 
    transform: scale(1.1); 
    background-color: #128c7e; 
} 

/*=============== mobile ===============*/

@media screen and (max-width: 360px),
(max-width: 375px ),
(max-width: 414px ),
(max-width: 430px ),
(max-width: 768px ),
(max-width: 820px ),
(max-width: 1024px )

{
  .whatsapp-float {
    width: 40px; 
    height: 40px; 
    font-size: 20px;
    padding: 0;
    margin-right: -9px;
  }
 
}