/*=========== BUTTON ORÇAMENTO CARRINHO ===============*/

.botao_carrinho {
    padding: 0 1.5rem 1.5rem;
    margin-top: auto; /* Empurra o botão para o fim do card */
    
}

.botao_carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    background-color: #25D366;
    color: #fff;
    padding: 12px;
    border-radius: .8rem;
    font-weight: 600;
    transition: .3s;
    font-size: 1.5rem;
    margin-top: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}
.botao_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    background-color: #25D366;
    color: #fff;
    padding: 12px;
    border-radius: .8rem;
    font-weight: 600;
    transition: .3s;
    font-size: 1.5rem;
    margin-top: 10px;
    border: none;
    width: 140%;
    cursor: pointer;
}

.botao_carrinho:hover,
.botao_cards:hover {
    background-color: #128C7E;
    transform: scale(1.02);
}



.button-modal i {
    font-size: 1.2rem;
}